*{
    background: none;
    border: none;
    text-decoration: none;
    text-underline-mode: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.main_screen{
    padding: 89px 144px 0 103px;
}

.text-title{
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    color: #283F75;
}

.text-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #5B5B5B;
}

.accordion-item{
    display: inline-flex;
    margin-bottom: 20px;
    border: none;
}

.accordion-header{
    margin-top: 20px;
    padding: 20px 28px 20px 28px;
    background: #FFFFFF;
    border: 1px solid #C6CDDA;
    font-weight: 700;
    font-size: 15px;
    color: #283F75;
}

.accordion-header:first-child{
    margin-top: 0;
}

.accordion-content{
    width: 100%;
    display: none;
    opacity: 0;
    border: 1px solid #E6E9F0;
    padding: 19px 25px 10px 25px;
    margin-top: 3px;
    color: #34539A;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    line-height: 140%;
    transition: all 0.5s ease-in-out;
}

.accordion-content.show {
    animation: showAnimation 0.5s ease-in-out;
    display: block;
    opacity: 1;
    border-radius: 0 0 10px 10px;
    transition: all 0.5s ease-in-out;
}

@keyframes showAnimation {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.accordion-header > .title{
    user-select: none;
    display: flex;
}

.rate{
    display: flex;
    align-items: center;
}

.rate > img{
    margin-right: 5px;
}

.spoiler-wrapper{
    width: 100%;
}

.spoiler{
    content: "";
    float: right;
    position: relative;
    top: 50%;
    border-bottom: 2px solid #283F75;
    border-left: 2px solid #283F75;
    width: 7px;
    height: 7px;

    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
    transform-origin: center center;
}

.title{
    padding: 0;
    display: flex;
}

.accordion > .accordion-header > .info, .info > span{
    vertical-align: middle;
    display: flex;
    line-height: 140%;
}

.accordion-wrapper{
    width: 100%;
}

.rating-items{
    margin-left: 22px;
    padding: 0;
    max-height: 60px;
}

.rating-items > form{
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rating-items > form > .rating-star{
    padding-right: 11px;
}

.rating-items > form > .rating-star:last-child{
    padding-right: 0;
}

.content-title{
    width: 100%;
}

.opened{
    border-color: #636C7C;
}

.accordion-header.opened .spoiler {
    transform: rotate(135deg);
}

@media(max-width: 991px){
    .text-title{
        text-align: center;
    }

    .text-description{
        margin-bottom: 20px;
    }

    .accordion-item{
        width: 100%;
    }
}