*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-underline: none;
}

button{
    border: 0;
    background: transparent;
    text-decoration: none;
}

.left-buttons, .right-buttons{
    display: flex;
    justify-content: space-between;
}

.left-buttons > button:not(:last-child){
    margin-right: 40px;
}

.right-buttons > button.login{
    margin-left: 32px;
}

.right-buttons > button.notifications{
    margin-left: 35px;
}

.header-button, button.login {
    font-family: Outfit;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 25px;

    transition: all 0.23s;
}

button.login{
    font-weight: 600;
}

.header-button:hover{
    color: #FA4776;
    transition: all 0.23s;
}

.header-button:active{
    color: #FA4776;
    transition: all 0.23s;
}

.logo{
    text-align: center;
}

body{
    background: url("images/background.svg") no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(11,18,32,1) 0%, rgba(0,0,0,0) 100%);
    font-size: 20px;
    color: #FFFFFF;
    padding: 48px 101px 55px 56px;
}

.content{
    margin-top: 42px;
    padding: 26px 101px 0 88px;
}

.title{
    font-family: 'Oswald';
    font-size: 80px;
    color: #FFFFFF;
    line-height: 119px;
}

.subtitle{
    font-family: 'Oswald';
    font-size: 40px;
    color: #FFFFFF;
    line-height: 59px;
}

.description{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 12px;
    opacity: 0.9;
    line-height: 150%;
}

.star{
    height: 26px;
    margin-right: 5px;
}

.star:last-child{
    margin-right: 0;
}

.rating{
    margin-top: 23px;
}

.buttons{
    margin-top: 37px;
}

.buttons > button{
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 41px;
    line-height: 23px;
    transition: all 0.23s;
}

.buttons > button:hover{
    border-color: transparent;
    background: #FA4776;
    transition: all 0.23s;
}

.buttons > button:active{
    border-color: transparent;
    background: #FA4776;
    transition: all 0.23s;
}

button.watch-now{
    max-height: 56px;
    max-width: 193px;
    padding: 14px 38px 14px 22px;
    display: inline-flex;
    align-items: center;
}

button.watch-now > img{
    padding-right: 12px;
    height: 100%;
}

button.trailer{
    margin-left: 24px;
    max-height: 48px;
    max-width: 120px;
    padding: 13px 31px 13px 31px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background: none;
}

.swiper-button-prev{
    left: auto;
    right: 60px;
    margin-right: 20px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-next,
.swiper-button-prev{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 9px 14px;
    top: 30px;
    border: 3px solid transparent;
    transition: all 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    border-color: #FA4776;
    transition: all 0.3s;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    display: inline-block;
    content: "";
    width: 25px;
    height: 20px;
    border-top: 7px solid #000000B2;
    border-right: 7px solid #000000B2;
    border-radius: 5px;
    transition: ass 0.2s;
}

.swiper-button-next:after{
    transform: translateX(-20%) rotate(45deg);
}

.swiper-button-prev:after{
    transform: translateX(20%) rotate(-135deg);
}

.swiper-slide > img{
    width: 100%;
}