*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    background: none;
    border: none;
}

input{
    outline: 0;
}

h1, h2{
    text-align: center;
    color: #212121;
}

h1{
    font-weight: 400;
    font-size: 62px;
    line-height: 73px;
    padding-bottom: 24px;
}

h2{
    font-weight: 300;  
    font-size: 33px;
    line-height: 36px;    
}

.main_screen{
    margin-top: 87px;
}

.form{
    margin-top: 60px;
    border: 2px solid #3F5EFF;
    border-radius: 10px;
    width: 720px;
    height: 234px; 
}

.form_content{
    padding: 30px 49px 30px 49px;

    display: block;
}

input[type="checkbox"]{
    outline: 0;
    width: 20px;
    height: 20px;
    background: #F4F6F9;
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 12px;
}

input[type="checkbox"]:hover{
    border: 3px solid red;
    transition: all 0.4s ease;
}

.form_check_label{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    vertical-align: middle;
}


.clear_button{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FF8484;
    background: none;
    border: none;
    height: 20px;
}

input[type="text"]{
    display: flex;
    height: 52px;
    width: 100%;
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    border: 1px solid #BEBEBE;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    padding: 16px 54px 16px 16px;
    gap: 12px;
    outline: none;

    transition: all 0.4s ease;
}

input[type="text"]:hover{
    border: 1px solid #212121;

    transition: all 0.4s ease;
}

input[type="text"]:focus{
    border: 1px solid #212121;
}

input[type="text"]:disabled{
    border: 1px solid #BEBEBE;
}

.input_group_lists{
    margin-top: 24px;
}

.input_group_lists > select {
    width: 187px;
    height: 51.98px;
    border: 1px solid #BEBEBE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}

.form_select, .submit_button{
    height: 51.98px;
}

.submit_button{
    border: none;
    background: #19980E;
    border-radius: 10px;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: all 0.4s ease;
    width: 227px;
}

.submit_button:hover{
    background: #25CE17;
    transition: all 0.4s ease;
}

.form_select{
    box-sizing: border-box;
    width: 187px;
    border: 1px solid #BEBEBE;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding:  16px 24px 16px 24px;
    outline: none;
}

.form_select select option:hover{  
    background-color: #9E1419;
}

.form_select:active{
    outline: red;
}