*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"]{
    background: transparent;
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

div.main{
    width: 100%;
    min-height: 692px;
    border-bottom: 6px solid #2B427E;
}

.background_image{
    position: relative;
    float: right;
    z-index: -1;
}

.main_content{
    padding-top: 100px;
}

h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #121212;
}


p{
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #777777;
}

p > a{
    color: #2B427E;
    text-decoration: none;
    border-bottom: 1px solid #2B427E;
}

p.above{
    margin-top: 32px;
}

p.bottom{
    margin-top: 17px;
    margin-bottom: 0;
}

li > * {
    vertical-align: text-top;
}

li::marker{
    content: url(images/list-dot.jpg);
}

ul > li > p{
    margin-left: 20px;
}

#sendResume{
    margin-top: 56px;
    width: 250px;
    height: 57px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

button{
    background: #2B427E;
    color: #FFFFFF;
    transition: all 0.3s;
}

button:hover{
    background: #3E5EB1;
    transition: all 0.3s;
}

button:active{
    background: #1C2A50;
}

.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.65;
}

input, .modal-window, button.send, #sendResume{
    border-radius: 2px !important;
}

.modal-window{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 461px;
    height: 581px;
    background: #FFFFFF;
    padding: 48px;
}

#modalClose{
    position: relative;
    font-size: 17px;
    color: #000000;
    background: transparent;
    opacity: 0.75;
    cursor: pointer;
    left: 70%;
    top: 15%;

    transition: all 0.2s;
}

#modalClose:hover{
    opacity: 1;

    transition: all 0.2s;
}

.modal-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #121212;
    text-align: center;
    margin-bottom: 48px;
}

.modal-input{
    display: grid;
}

input[type="text"], .input-file {
    width: 365px;
    height: 57px;
    border: 1px solid #E8E8E8;
    margin-bottom: 20px;
    background: #F4F4F4;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 20px 16px 20px;

    transition: all 0.2s;
}

input[type="text"]:hover{
    border-color: #858585;

    transition: all 0.2s;
}

input[type="text"]:active{
    border-color: #858585;

    transition: all 0.2s;
}

.modal-input > div > label[for="inputFile"]{
    width: 365px;
    height: 57px;
    background: white;
    border: 1px solid #E8E8E8;
    color: #2B427E;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 48px;
    text-align: center;
}



.modal-input > button.send{
    height: 57px;
    font-size: 18px;
    font-weight: 700;
}

.input-file{
    width: 365px;
    height: 57px;
    background-color: #FFFFFF;
    margin-bottom: 48px;
}

.input-file:hover{
    border-color: #858585;

    transition: all 0.2s;
}

.input-file:active{
    border-color: #858585;

    transition: all 0.2s;
}

.input-file span {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color: #2B427E;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.input-file span img{
    margin-left: 16px;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}