*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    background: none;
    border: none;
    box-sizing: border-box;
}

input{
    outline: 0;
}

h1, h2{
    text-align: center;
    color: #212121;
}

h1{
    font-weight: 400;
    font-size: 62px;
    line-height: 73px;
    margin-bottom: 24px;
}

h2{
    font-weight: 300;
    font-size: 33px;
    line-height: 36px;
}

.main_screen{
    margin-top: 87px;
}

.form{
    margin-top: 60px;
    border: 2px solid #3F5EFF;
    border-radius: 10px;
    max-width: 720px;
}

.form_content{
    padding: 30px 49px 30px 49px;
}

.check{
    user-select: none;
    display: flex;
    align-items: center;
}

.real_check{
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.custom_check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #BDBDBD;
    background-color: #F4F6F9;
    border-radius: 2px;
    position: relative;

    transition: all 0.4s;
}

.custom_check::before{
    display: inline-block;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    background-color: #052842;
    border-right: 2px;

    transition: 0.1s ease-in;
}

.real_check:checked + .custom_check::before{
    transform: translate(-50%, -50%) scale(1);
}

.real_check:enabled:hover + .custom_check{
    border-color: #052842;
}

.real_check:enabled:active + .custom_check{
    border-color: #052842;
}

.real_check:enabled:checked + .custom_check{
    border-color: #052842;
}

.real_check:checked:hover + .custom_check{
    border-color: #BDBDBD;
}

.real_check:checked:active + .custom_check{
    border-color: #BDBDBD;
}

.real_check:disabled:hover + .custom_check{
    border-color: #BDBDBD;
}


.custom_check_title{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    height: 100%;
}

.form_check:nth-child(2){
    padding-left: 47px;
}

.clear_button{
    display: flex;
    justify-content: end;
}

.clear_button > button{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FF8484;
    background: none;
    border: none;
    height: 20px;
}

.search{
    display: flex;
    width: 100%;
    margin-top: 24px;
    border: 1px solid #BEBEBE;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    gap: 12px;
    outline: none;

    transition: all 0.4s ease;
}

.search:hover{
    border-color: #212121;
}

.search:hover{
    border-color: #212121;
}

div.search:hover + .search_icon{
    opacity: 1;

    transition: all 0.4s ease;
}

.search_icon{
    width: 22px;
    height: 22px;
    opacity: 0.5;

    transition: all 0.4s;
}

.search_text{
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.input_group_lists{
    margin-top: 24px;
}

.input_group_lists > div > select{
    width: 100%;
}

.submit_button{
    border: none;
    background: #19980E;
    border-radius: 10px;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: all 0.4s ease;
}

.submit_button:hover{
    background: #25CE17;
    transition: all 0.4s ease;
}

.search, .submit_button{
    height: 52px;
}

.submit_button{
    width: 100%;
}

.choices{
    height: 52px;
    width: 187px;
}

.choices.is-open + .choices__inner{
    border-color: #212121;
}

.is-open.is-flipped .choices__inner, .is-open .choices__inner{
    border-radius: 10px;
}

.choices__inner{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    height: 100%;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 65px;

    transition: border-color 0.4s;
}

.choices__inner:hover, .choices__inner:active{
    border-color: #212121;

    transition: border-color 0.4s;
}

.choices[data-type*=select-one]:after{
    height: 8px;
    width: 8px;
    top: 40%;
    border-color: #828282;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    margin-right: 10px;
}

.choices[data-type*=select-one].is-open:after{
    top: 60%;
    border-color: #9E1419;
    border-width: 0 0 2px 2px;
    transform: rotate(135deg);
}

.choices__list--dropdown, .choices__list[aria-expanded]{
    padding: 24px;
    min-width: 316px;
    margin-top: 4px;
}

.choices__list--dropdown > .choices__list > .choices__item--selectable{
    padding: 8px 16px 8px 16px;
    color: #212121;
}

.choices__list--dropdown.is-active{
    box-shadow: 0 2px 60px 4px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    border: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
    color: #FFFFFF;
    background: #9E1419;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
}

.choices__placeholder{
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}


@media (max-width: 768px) {
    .clear_button{
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }

    .select_wrapper > div.choices{
        width: 100%;
        margin-bottom: 24px;
    }

    .form_check_elem{
        display: flex;
        justify-content: center;
    }

    .main_screen{
        margin-top: 45px;
    }

    .form_check.form_check_elem:nth-child(2) > .form_check_label{
        float: right;
    }
}

@media (max-width: 576px){

    .form_check_elem:nth-child(2){
        margin-top: 12px;
    }

    .clear_button{
        margin-top: 12px;
    }


    div.search{
        margin-top: 12px;
    }
}